@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: italic;
  font-weight: 500;
  src: url("../fonts/livvic-v14-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v14-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap;
  font-family: "Livvic";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

ol,
ul {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: flex;
  object-fit: cover;
}

h1 {
  margin: 0;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Livvic", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  color: #ffffff;
  background-color: #014e56;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.btn {
  border: 2px solid transparent;
  border-radius: 24px;
  padding: 8.4px 31px 8.4px 31px;
  font-size: 18px;
  line-height: 28px;
}

.primary-btn {
  border-color: #ffffff;
  color: #ffffff;

  &:hover {
    background-color: #ffffff;
    color: #002529;
  }
}

.primary-btn-dark {
  border-color: #012f34;
  color: #012f34;

  &:hover {
    background-color: #012f34;
    color: #ffffff;
  }
}

.secondary-btn {
  background-color: #ffffff;
  color: #002529;

  &:hever {
    background-color: #79c8c7;
  }
}

.header {
  background-color: #014e56;
  padding-top: 73px;
  padding-bottom: 73px;
}

.header__container {
  display: flex;
  align-items: center;
}

.site-logo {
  margin-right: 80px;

  &:hover {
    opacity: 0.8;
  }
}

.sitenav {
  margin-right: auto;
}

.sitenav__list {
  display: flex;
  gap: 40px;
  align-items: center;
}

#active {
  color: #f67e7e;
}

.sitenav__link {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;

  &:hover {
    color: #f67e7e;
  }
}

.orange-text {
  color: #f67e7e;
}

.green-text {
  color: #79c8c7;
}

.divider {
  display: inline-block;
  width: 50px;
  height: 4px;
}

.hero__divider {
  margin-bottom: 79px;
  background-color: #79c8c7;
}

.footer__cta {
  background-color: #f67e7e;
  color: #012f34;
  padding-top: 76px;
  padding-bottom: 76px;

  background-image: url(../images/bg-pattern-home-6-about-5.svg);
  background-repeat: no-repeat;
  background-position: bottom left;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__cta__title {
  font-family: "Livvic", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  background-color: #002529;
  padding-top: 48px;
  padding-bottom: 48px;

  .container {
    display: flex;
    align-items: center;
    position: relative;
  }
}

.footer__container-links {
  margin-right: 125px;
}

.footer__logo {
  margin-bottom: 25px;

  &:hover {
    opacity: 0.8;
  }
}

.footer__container-nav__pages-list {
  display: flex;
  gap: 40px;
}

.footer__container__social-links {
  display: flex;
  gap: 16px;
  position: absolute;
  top: 0;
  right: 0;
}

.footer__container__social_link {
  color: #ffffff;

  & i:hover {
    color: #f67e7e;
  }
}

.footer__container-information {
  opacity: 60%;
}

.footer__container__description {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.6;
}
